---

import List from "../layouts/List.astro";
import Button from "../components/Button.astro";
import Arrow from "../components/Arrow.astro";
---

<List title="פעילויות ערים">
   <div
      role="list"
      class="flex justify-center flex-wrap md:w-[700px] w-full mx-auto"
    >
      
 <Button
    title="אילת - מידע על העיר"
    href="/cities/eilat-city.docx"
    className="border-l-4 border-l-orange-400"
  >
    <Arrow height={10} width={10} direction="left" />
  </Button>
  <Button
    className="mt-5 border-l-4 border-l-orange-400"
    title="אילת - תמונות"
    href="/cities/eilat-pictures.docx"
  >
    <Arrow height={10} width={10} direction="left" />
  </Button>

        className="border-b-purple-400"
      >

  <Button
    className="mt-5 border-l-4 border-l-orange-400"
    title="באר שבע - מידע על העיר"
    href="/cities/beer-sheva-city.docx"
  >
    <Arrow height={10} width={10} direction="left" />
  </Button>
  <Button
    className="mt-5 border-l-4 border-l-orange-400"
    title="באר שבע - תמונות"
    href="/cities/beer-sheva-pictures.docx"
  >
    <Arrow height={10} width={10} direction="left" />
  </Button>
  <Button
    className="mt-5 border-l-4 border-l-orange-400"
    title="באר שבע - גשר הרכבת הטורקי"
    href="/cities/turkish-train-bridge.docx"
  >
    <Arrow height={10} width={10} direction="left" />
  </Button>
  <Button
    className="mt-5 border-l-4 border-l-orange-400"
    title="באר שבע - תמונות"
    href="/cities/beer-sheva-pictures.docx"
  >
    <Arrow height={10} width={10} direction="left" />
  </Button>
  <Button
    className="mt-5 border-l-4 border-l-orange-400"
    title="ירושלים - מידע על העיר"
    href="/cities/jerusalem-city.docx"
  >
    <Arrow height={10} width={10} direction="left" />
  </Button>
  <Button
    className="mt-5 border-l-4 border-l-orange-400"
    title="ירושלים - תמונות"
    href="/cities/jerusalem-pictures.docx"
  >
    <Arrow height={10} width={10} direction="left" />
  </Button>
  <Button
    className="mt-5 border-l-4 border-l-orange-400"
    title="תל אביב - מידע על העיר"
    href="/cities/tel-aviv-city.docx"
  >
    <Arrow height={10} width={10} direction="left" />
  </Button>
  <Button
    className="mt-5 border-l-4 border-l-orange-400"
    title="תל אביב - תמונות"
    href="/cities/tel-aviv-pictures.docx"
  >
    <Arrow height={10} width={10} direction="left" />
  </Button>
  <Button
    className="mt-5 border-l-4 border-l-orange-400"
    title="תל אביב - תיאטרון הבימה"
    href="/cities/habima-theater.docx"
  >
    <Arrow height={10} width={10} direction="left" />
  </Button>
</List>
