---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Location from "../components/Location.astro";
import Recipe from "../components/Recipe.astro";
import Puzzle from "../components/Puzzle.astro";
import Book from "../components/Book.astro";
import Sport from "../components/Sport.astro";
---

<Layout title="פעילויות בחירום">
  <main>
<div class="mb-4">לפניכם דף בו מרוכזים קישורים לפי נושאים למגוון פעילויות המתאימות לחניכים ולדיירים שלנו.</div>
    <div class="mb-4">הקליקו על קטגוריה כדי לצפות בפעילויות:</div>
    <div
      role="list"
      class="flex justify-center flex-wrap md:w-[700px] w-full mx-auto"
    >
      <Card
        href="https://specialforme.org/"
        title="בריאות"
        subtitle="9 פעילויות"
externalLink={true}
        className="border-b-purple-400"
      >
        <Puzzle />
      </Card>
      <Card
        href="/cities"
        title="פעילויות ערים"
        subtitle="11 פעילויות"
        className="border-b-orange-400"
      >
        <Location />
      </Card>
      <Card
        href="https://zuzuspecialoly.kshalem.org.il/"
        title="פעילויות-ספורט"
        subtitle="10+ פעילויות"
        externalLink={true}
        className="border-b-blue-400"
      >
        <Sport />
      </Card>
      <Card
        href="/stories"
        title="סיפורים"
        subtitle="4 פעילויות"
        className="border-b-green-400"
      >
        <Book />
      </Card>

      <Card
        href="/recipes"
        title="מתכונים"
        subtitle="2 פעילויות"
        className="border-b-pink-400"
      >
        <Recipe />
      </Card>
    </div>
  </main>
</Layout>
