---
interface Props {
  title: string;
  className?: string;
  href: string;
  externalLink?: boolean;
}

const { title, className, href, externalLink = false } = Astro.props;

const _href =
  externalLink || import.meta.env.DEV ? href : import.meta.env.BASE_URL + href;
---

<a
  class:list={[
    className,
    "flex justify-between items-center font-normal no-underline w-full py-3 px-4 bg-bg-500 rounded-lg border-[1px] border-bg-800 hover:shadow transition-all",
  ]}
  href={_href}
>
  <div class="pb-[2px]">{title}</div>
  <slot />
</a>
