---
interface Props {
  title: string;
  subtitle: string;
  href: string;
  externalLink?: boolean;
  className?: string;
}

const { href, title, subtitle, externalLink = false, className } = Astro.props;

const _href =
  externalLink || import.meta.env.DEV ? href : import.meta.env.BASE_URL + href;
---

<a
  class:list={[
    className,
    "block w-[165px] group rounded-lg bg-bg-500 py-4 md:w-[200px] border-[1px] border-bg-800 m-3 md:m-2 hover:-translate-y-2 transition-all border-b-4",
  ]}
  href={_href}
>
  <div class="mx-auto w-[144px] h-[144px]"><slot /></div>
  <p
    class="font-bold text-center mt-5 group-hover:text-[#ff8a00] transition-all"
  >
    {title}
  </p>
  <div class="text-center">{subtitle}</div>
</a>
<style>
  a {
    text-decoration-line: none;
    font-weight: 400;
  }
</style>
